PORT = "8080"
NODE_ENV = "development"
LOG_LEVEL = "info"
API_HOST = "localhost"

# JWT Configuration
JWT_ACCESS_SECRET = "your-access-secret"
JWT_REFRESH_SECRET = "your-refresh-secret"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# Mongo Configuration
MONGO_URL = 'mongo://localhost:27017'

# AI Configuration
AI_API_KEY = "your-ai-api-key"

